// ========== COLOR SETTINGS ========== \\

$primary-color: #070707;
$grey-color: #828282;
$white-color: #ffffff;
$bg-color: #f6f6f6;
$black-color: #000000;

// ========== END COLOR ========== \\

// ========== FONT SETTINGS ========== \\

$primary-font: "Montserrat", sans-serif;

$fw-bold: 700;
$fw-medium: 500;

// ========== END FONT ========== \\
