.about {
  background-color: $bg-color;
  padding-top: 81px;
  padding-bottom: 76px;

  @media screen and (min-width: 950px) {
    padding-top: 120px;
    padding-bottom: 108px;
  }

  &__title {
    color: $black-color;
    font-weight: $fw-bold;
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 30px;
  }

  &__description {
    color: $black-color;
    font-weight: $fw-medium;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }

  &__text {
    &:not(:last-child) {
      padding-bottom: 52px;
    }
  }

  &__soft-title,
  &__tech-title {
    margin-top: 52px;
    font-weight: $fw-medium;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: $black-color;

    @media screen and (min-width: 950px) {
      margin: 0;
    }
  }

  &__soft-list,
  &__tech-list {
    margin-top: 25px;
  }

  &__soft-item,
  &__tech-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__soft-text,
  &__tech-text {
    text-align: center;
    color: $grey-color;
    font-weight: $fw-bold;
    font-size: 14px;
    line-height: 1.2;
  }

  &__info {
    @media screen and (min-width: 950px) {
      max-width: 490px;
    }
  }

  &__thumb {
    @media screen and (min-width: 950px) {
      display: flex;
    }
  }

  &__skills {
    @media screen and (min-width: 950px) {
      display: flex;
      margin-left: 130px;

      &--second {
        margin-left: 70px;
      }
    }
  }
}
