.contacts {
  padding-top: 82px;
  padding-bottom: 48px;

  @media screen and (min-width: 950px) {
    padding-top: 116px;
    padding-bottom: 86px;
  }

  &__title {
    color: $black-color;
    font-weight: $fw-bold;
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
  }

  &__subtitle {
    padding-top: 28px;
    font-weight: $fw-medium;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: $black-color;
    margin-bottom: 40px;

    @media screen and (min-width: 950px) {
      width: 310px;
      margin: 0 auto;
      padding-top: 20px;
      margin-bottom: 30px;
    }
  }

  &__btn {
    display: block;

    background-color: $black-color;
    color: $white-color;
    font-weight: $fw-bold;
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
    padding: 12px 85px;
    border-radius: 50px;

    @media screen and (min-width: 950px) {
      width: 180px;
      padding: 12px 0;
      margin: 0 auto;
    }
  }
}
