.hero {
  padding-top: 65px;
  @media screen and (min-width: 950px) {
    padding-top: 40px;
  }

  &__title {
    font-weight: $fw-bold;
    font-size: 40px;
    line-height: 1.2;
    color: $black-color;
  }

  &__description {
    padding-top: 23px;
    padding-bottom: 37px;
    font-weight: $fw-medium;
    font-size: 18px;
    line-height: 1.2;
  }

  &__picture {
    display: block;
    margin: 0 auto;
    padding-bottom: 83px;
    @media screen and (min-width: 950px) {
      padding-bottom: 105px;
    }
  }

  &__thumb {
    @media screen and (min-width: 950px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }

  &__img {
    @media screen and (min-width: 950px) {
      width: 950px;
    }
  }
}
